<div class="schools-info-wrapper info-item-wrapper">
  <a href="javascript:void(0)" class="btn-close anchor-div" (click)="onFilterCloseBtnClick()"><i
    class="fas fa-times"></i></a>
  <div class="item-content">
    <div class="item-title" (click)="openDropdown()">Stats</div>
    <div class="item-subtitle" (click)="openDropdown()">{{filterValue ? filterValue.label : '-'}}</div>
  </div>
  <app-info-filter-dropdown #drdRef [options]="filter.options"
                            [value]="filterValue"
                            (selectionChanged)="onFilterOptionChanged($event)">
  </app-info-filter-dropdown>
</div>

