.map-control-wrapper{
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  pointer-events: none;
}

.map-control{
  margin-bottom: 10px;
  pointer-events: auto;
}

.zoom-control{
  overflow: hidden;
  border-radius: 5px;
  width: 36px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.22);
}

.zoom-control .btn-zoom{
  padding: 6px 11px;
  background-color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zoom-control .btn-zoom:first-child{
  border-bottom: 1px solid #e0e0e0;
}
.zoom-control .btn-zoom:hover{
  background-color: #efefef;
}

.layer-control{
  position: relative;
}

.layer-control .drd-handle{
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.22);
  padding: 3px 5px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ffffff;
}

.layer-control .drd-handle:hover{
  background-color: #efefef;
}

.layer-control .drd-menu{
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.22);
  position: absolute;
  top: 27px;
  right: 0;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  opacity: 0;
  transition: all 250ms ease-in-out;
  visibility: hidden;
}
.layer-control .drd-menu.active{
  opacity: 1;
  visibility: visible;
  transition: all 250ms ease-in-out;
}
.drd-menu .menu-item{
  display: flex;
  padding: 2px 4px 2px 2px;
}

.drd-menu .menu-item:hover{
  display: flex;
  background-color: #efefef;
  cursor: pointer;
}

.drd-menu .menu-item label{
  cursor: pointer;
}
