<div class="filter-wrapper">
  <div class="drd-wrapper" [class.open]="isDrdOpen">
    <a class="drd-handle anchor-div" (click)="onDrdHandleClicked($event)" href="javascript:void(0)">
      <div class="handle-title">
        <span class="house-type marker for-sale"
              *ngIf="listTypeConstants.FOR_SALE['isSelected']"></span>
        <span class="house-type marker potential-list"
              *ngIf="listTypeConstants.POTENTIAL_LISTINGS['isSelected']"></span>
        <span class="house-type marker for-rent"
              *ngIf="listTypeConstants.FOR_RENT['isSelected']"></span>
        <span class="house-type marker recently-sold"
              *ngIf="listTypeConstants.RECENTLY_SOLD['isSelected']"></span>
        {{filterLabel}}
      </div>
    </a>
    <div class="drd-body box-shadow" #drdBody>
      <ul class="main-list">
        <li *ngFor="let currType of houseListTypes">
          <a class="anchor-div" href="javascript:void(0)" (click)="onMainCheckboxChange(currType)">
            <input type="checkbox"
                   [(ngModel)]="currType.type['isSelected']">
            <span>
                  <span class="house-type marker for-sale"
                        *ngIf="currType.type.value == listTypeConstants.FOR_SALE.value"></span>
                  <span class="house-type marker potential-list"
                        *ngIf="currType.type.value == listTypeConstants.POTENTIAL_LISTINGS.value"></span>
                  <span class="house-type marker for-rent"
                        *ngIf="currType.type.value == listTypeConstants.FOR_RENT.value"></span>
                  <span class="house-type marker recently-sold"
                        *ngIf="currType.type.value == listTypeConstants.RECENTLY_SOLD.value"></span>
                  <span class="lbl-text">{{currType.type.label}}</span>
                  <span class="lbl-count"> (0)</span>
              </span>
          </a>
          <ul *ngIf="currType?.subTypes?.length" class="sub-list">
            <li *ngFor="let currSubType of currType.subTypes">
              <a href="javascript:void(0)" class="anchor-div" (click)="onSubTypeChanged(currSubType)">
                <input type="checkbox"
                       [(ngModel)]="currSubType['isSelected']">
                <span>
                    <span class="lbl-text">{{currSubType.label}}</span>
                    <span class="lbl-count"> (0)</span>
                </span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
