.filter-menu-wrapper {
  background-color: #d9f0f9;
  margin-bottom: 10px;
  z-index: 1005;
  position: relative;
  display: flex;
  align-items: stretch;
  height: 50px;
}

.filter-menu-wrapper .menu-item {
  border-right: 1px solid #ffffff;
}

.filter-wrapper {
  height: 100%;
}

.filter-wrapper .drd-wrapper {
  position: relative;
  height: inherit;
}

.filter-wrapper .drd-wrapper .drd-handle {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: inherit;
}

.filter-wrapper .drd-wrapper .drd-body {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #ffffff;
  min-width: 100%;
}

.filter-wrapper .drd-wrapper.open .drd-handle.show-border {
  border-color: #0074e4;
}

.filter-wrapper .drd-wrapper.open .drd-handle.show-border::after {
  color: #0074e4;
}

.filter-wrapper .drd-wrapper.open .drd-body {
  display: block;
  z-index: 2;
}



.filter-lg {
  display: flex;
  padding: 10px;
  align-items: center;
}

.filter-lg .drd-wrapper .drd-handle {
  padding: 5px 10px 5px 5px;
  min-width: 80px;
  justify-content: flex-start;
}

.filter-lg .drd-wrapper .drd-handle:after {
  content: '\f0d7';
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  font-size: 10px;
  position: absolute;
  right: 5px;
  transition: transform 200ms;
}

.filter-lg .drd-wrapper.open .drd-handle:after {
  transform: rotate(180deg);
}

.filter-lg .filter-label {
  min-width: 100px;
}

