/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#leafletmap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.leaflet-control-layers-selector {
  display: none;
}

.leaflet-control-layers-selector:checked + span .layer-style {
  border: 2px solid #3432ff;
}

.leaflet-control-layers.leaflet-control-layers-expanded {
  padding: 0;
  background: transparent;
  border: none;
  box-shadow: none;
}

.layer-style {
  width: 40px;
  border: 2px solid #ffffff;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transition: all 220ms ease-in-out;
}

.div-icon-marker {
  border-radius: 50%;
  border: 3px solid #ffffff;
  background-color: red;
  box-shadow: 1px -1px 1px 1px rgba(0, 0, 0, 0.5);
  width: 30px;
  height: 30px;
  transition: 0.4s all;
}

.div-icon-marker:hover {
  background-color: green;
  border-width: 2px;
}

.popup-wrapper {

}

.popup-wrapper .popup-title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 6px;
}

.popup-wrapper .popup-content {

}

.popup-content .info-item {
  display: flex;
  font-size: 12px;
  margin-bottom: 5px;
}

.popup-content .info-item .item-title {
  width: 70px;
}

.popup-content .info-item .item-text {

}

.house-type.marker {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.house-type.marker.for-sale {
  background-color: #fc384a;
}

.house-type.marker.potential-list {
  background-color: #0074e4;
}

.house-type.marker.for-rent {
  background-color: #a357de;
}

.house-type.marker.recently-sold {
  background-color: #fce012;
}

.box-shadow {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .5);
}

.show-border {
  border: 1px solid #cccccc;
}

.btn-div {
  background-color: transparent;
  border: none;
  color: #000000;
}

.anchor-div, .anchor-div:hover, .anchor-div:visited, .anchor-div:active {
  text-decoration: none;
  color: #000000;
}

.select-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select-list li a {
  display: block;
  padding: 10px 10px 10px 8px;
  font-size: 15px;
  font-weight: 400;
}

.select-list li a:hover, .select-list li a:focus, .select-list li.active a {
  background-color: #0074e4;
  color: #ffffff;
  font-weight: 500;
  outline: 0;
}

.select-list li.selected a {
  background-color: #62aef6;
  color: #fff;
  font-weight: 600;
}

.selectize-input {
  border-radius: 0;
  box-shadow: none;
  min-width: 80px;
}

.select2-container--default .select2-selection--single {
  border-radius: 0;
  min-width: 80px;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: initial;
}

.filter-lg .select2-container--default .select2-selection--single {
  height: 30px;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #cccccc;
}

.select2-container--default .select2-selection--single:hover,
.select2-container--default .select2-selection--single:focus,
.filter-lg .filter-txt-input:hover, .filter-lg .filter-txt-input:focus {
  border-color: #0074e4;
}

.filter-lg {
  display: flex;
  padding: 10px;
  align-items: center;
}

.filter-lg .drd-wrapper .drd-handle {
  padding: 5px 10px 5px 5px;
  min-width: 80px;
  justify-content: flex-start;
}

.filter-lg .drd-wrapper .drd-handle:after {
  content: '\f0d7';
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  font-size: 10px;
  position: absolute;
  right: 5px;
  transition: transform 200ms;
}

.filter-lg .drd-wrapper.open .drd-handle:after {
  transform: rotate(180deg);
}

.filter-lg .filter-label {
  min-width: 100px;
}

.filter-lg .filter-ctrl {
  min-width: 80px;
}

.filter-ctrl-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-lg .filter-ctrl-wrapper span {
  display: block;
  margin: 0 10px;
  width: 10px;
  height: 1px;
  background-color: #cccccc;
}

.filter-lg .filter-txt-input {
  border: 1px solid #cccccc;
  border-radius: 0;
  font-size: 15px;
  width: 80px;
  line-height: 26px;
  padding: 5px;
  height: 30px;
}
