/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

#leafletmap{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.leaflet-control-layers-selector{
  display: none;
}
.leaflet-control-layers-selector:checked + span .layer-style{
  border: 2px solid #3432ff;
}
.leaflet-control-layers.leaflet-control-layers-expanded{
  padding: 0;
  background: transparent;
  border: none;
  box-shadow: none;
}

.layer-style{
  width: 40px;
  border: 2px solid #ffffff;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
  border-radius: 5px;
  transition: all 220ms ease-in-out;
}

.div-icon-marker{
  border-radius: 50%;
  border: 3px solid #ffffff;
  background-color: red;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
  width: 30px;
  height: 30px;
}

.div-icon-marker:hover{
  background-color: green;
}
